.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* manual */
.burger-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.bread-top,
.bread-bottom {
  width: 200px;
  height: 40px;
  background-color: #f08e4a;
  border-radius: 50px 50px 0 0;
  margin: 10px 0;
}

.bread-bottom {
  border-radius: 0 0 50px 50px;
}

.slice {
  width: 180px;
  height: 30px;
  margin: 5px 0;
}

.slice.aloo-tikki {
  background-color: #d2691e;
  border-radius: 25px;
}

.slice.cheese {
  background-color: #f5e50a;
  height: 15px;
  border-radius: 15px;
}
/* --------- */
.burger-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.burger-controls button {
  margin: 5px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.burger-controls button:hover {
  background-color: #45a049;
}
